{% extends "base.html" %}

{% block content %}

{% if logged_in == "false" %}
	<h3 style="background-color: gray; color: white; text-align: center;">
		<a href="/blog/login">
		Login
		</a>
	</h3>

{% else %}
	<h3 style="background-color: gray; color: white; text-align: center;">
		<a href="/blog/logout">
		Logout
		</a>
	</h3>
{% endif %}

<div class="blog-subject">
	{{blog.subject}}

	<button class="blog-edit" onclick="window.location.href = '/blog/edit/{{post_id}}';" style="float: right">Edit</button>

</div>

<div class="blog">
<div class="blog-date content">{{blog.date}}</div>

<div class="blog-user content">By {{blog.user}}</div>
<hr>

<pre class="blog-body content">{{blog.blog}}</pre>

<div class="blog-points content">Points: {{blog.points}}</div>
</div>

{% if logged_in == "true" %}

	<form method="post" class="content">
	{% if vote.value == "up" %}

		<div>
			▲
			<input type="submit" name="downvote" value="▼">
		</div>		
	{% elif vote.value == "down" %}
		<div>
			<input type="submit" name="upvote" value="▲">
			▼
		</div>
	{% else %}
		<div>
			<input type="submit" name="upvote" value="▲">
			<input type="submit" name="downvote" value="▼">
		</div>

	{% endif %}
	</form>

{% endif %}

<br>
<br>

<h2 class="content">Comments</h2>
{% for comment in comments %}
	<div class="comment">
		<div class="content">{{comment.body}}</div>
		<div class="content">By {{comment.username}}</div>
		<hr size="5px">
		<pre class="content">{{comment.created}}</pre>
		<br>
	</div>
{% endfor %}

{% if logged_in == "true" %}
<form method="post">
	
	<label>
		<div class="content">Type your comment here:</div>
		<textarea name="comment" class="content" style="height: 200px; width: 50%"></textarea>
	</label>
	
	<div class="error content" style="color: red">{{error}}</div>

	<input type="Submit"class="error content">
</form>
{% endif %}

{% endblock %}